*.py[cod]
*.pyc
__pycache__
.DS_Store
*.log
.coverage
htmlcov/
coverage.xml
.coverage.*
*.mo
*.pot
.idea
*~
*.swp
*.swo
.cache/
*.db
node_modules
.env
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
local_data/
venv/
.pytest_cache/
.ruff_cache/